.history-block {
margin-bottom: 30px;
padding: 15px;
background-color: #ddc486;
}

.history-block h3 {
color: #333;
margin-top: 0;
}

.history-block p {
line-height: 1.6;
text-align: justify;
}

